body {
  margin:0px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.selection-bar {
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
}
button {
  background: transparent;
  cursor: pointer;
}
header {
  height: 80px;
  width: 100%;
  position: sticky;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;

}
.banner {
  height:64px;
  width:100%;
  background-color:#f7f7f7 ;
}
.banner h1 {
  margin:0px;
  font-size: 18px;
  line-height: 22px;
}